.button {
  padding: 15px 150px;
  background-color: var(--button);
  border-radius: 55px;
  border: 1px solid white;

  display: flex;
  justify-content: center;
  align-content: center;

  &:hover {
    cursor: pointer;
  }
}

.text {
  margin: 0;
  padding: 0;
  color: white;
  font-size: 22px;
}

.transparent {
  background-color: transparent;
  color: black;
}