.container {
  width: 100%;
  margin: 25px auto;
  padding: 0;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 5px;
}

.button {
  align-self: center;
  margin-top: 15px;
}