.pageContainer {
  width: 100%;

  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;

  margin: 50px auto;
}

.image {
  margin-bottom: 15px;
}

.formSection {
  width: 100%;
  padding: 15px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 5px;
}

.buttonsContainer {
  display: flex;
  flex-direction: column;
  gap: 15px;
}

.button {
  list-style-type: none;
}